@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  
  
}
/* ::selection{
  color: #000;
  background: #fff;
} */
.parent {
  position: relative;
  min-height: 100vh;
  background: #df7d6e;

}
#map {
  float:right;
  height: 750px;
  width: 100%;
  border-radius: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #CC5643;
  /* height: 100%; only for demonstration, should be removed */
}
nav {
  position: sticky;
  background: #CC5643;
  /* background: #CC5643; */
  width: 100%;
  /* padding: 10px; */
  z-index: 1;
  /* margin-bottom: 10px; */
}

map {
  float: right;
  position: absolute;
  padding-top: 30px;
  /* padding-bottom:10px; */
  padding-left:50px;
  padding-right:50px;
  height: 80%;
  /* min-height: 100vh; */
  width: 100%;
  background: #df7d6e;
  z-index: 0;
  flex: 1;
  flex-direction: column;
}
body {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  background: #df7d6e;
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: #df7d6e;
}

.article2 {
  float: left;
  /* display: none; */
  visibility: hidden;
  width: 20%;
  flex:1;
  height:300px;
  border-radius: 20px;
  /* height:100px; */

  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 150px;
  flex-direction: column;
  z-index: 1;
  background: #df7d6e;
  font-size: x-large;
  overflow:auto;
  /* position: absolute; */
  position: relative;
}
.instructions {
  padding-bottom:10px;
  text-align: center;
  font-weight: 500;
  display:block;
  /* visibility:visible; */
}

.close_filter_btn {
  background-color: #2d8aa4; 
  border: none;
  margin-left: 80%;
  border-radius: 30px;
  color: white;
  margin-top: 4%;
  padding-top:8px;
  padding-left:6px;
  padding-right:6px;
  margin-bottom:20%;
  /* padding: 6px 10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  cursor: pointer;
  justify-content: center;

}
.filter_box {
  background-color: #CFDEE2;
  position: aboslute;
  top:2px;
  z-index: 1;
  visibility: hidden;
  padding-left:10px;
  height:100%;
  width: 100%;
  flex:1;
  text-align:left;
  border-radius: 20px;
  overflow-wrap:normal;
  overflow: auto;
}

.FilterNameTag.withInfo {
  flex-direction: row;
  position: relative;
  margin-left:auto;
  float:left;
  font-size: small;
  width:60px;
  /* padding-right: 10px; */
  align-items: center;
}

.Favorites.withInfo {
  flex-direction: row;
  position: relative;
  margin-left:auto;
  float:left;
  font-size: small;
  width:60px;
  /* padding-right: 10px; */
  align-items: center;
}

.form_select{
  display: flex;
  flex-direction: row;
  width: 75%;
  text-align: left;
  height:100%;
  padding-bottom: 0.5em;
  margin-top:5%;
  margin-right:5%;
  align-items: center;
  min-height: 3px;
  background-color: #CFDEE2;
  border-color: #CC5643;

}

.chosen_select_style {
  background-color: #CC5643;
}

.FilterNameTag {
  flex-shrink: 0;
  flex:1;
  /* font-size:larger; */
  display: flex;
  color: black;
  /* float:left; */
  border-width: 5px;
  border-color:#CC5643;
  margin-top: 5%;
  margin-right:5%;
  /* width: 110px; */
  width:15%;

  /* margin: 0.5em 0px 0.7em 0px; */
}

.FilterRowDiv {
  display: flex;
  flex:1;
  width:100%;
  flex-direction: row;
  border-bottom: #CC5643;
  text-align: left;
  padding-bottom: 0.5em;
  min-height: 3px;
  padding-right:4px;
}


.open_filter_btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  background-color: #2d8aa4; 
  position: absolute;
  top:450px;
  left:-15px;
  border: none;
  border-radius: 10px;
  z-index: 1;
  width:150px;
  
  vertical-align:top;
	transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg);
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-orientation:upright;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
}

.open_table_btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  background-color: #2d8aa4; 
  position: absolute;
  top:750px;
  left:700px;
  /* left: -50px; */
  border: none;
  border-radius: 10px;
  z-index: 1;
  width:150px;
  
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-orientation:upright;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
}

.filter_btn_wrapper{
  z-index: 1;
  position: absolute;
  background-color: #df7d6e; 
}


.tableSection {
  flex-direction: row;
  height:600px;
  width:100%;
  padding-right:40px;
  margin-right: 20px;
  padding-left:50px;
  z-index: 0;
  position: absolute;
  background: #df7d6e;
  font-size:medium;
}

.barchart {
  align-self: flex-start;
  flex-direction: row;
  /* margin-left:20%; */

}

.comparable {
  flex-direction: row;
  background: #CFDEE2;
  z-index: 0;
  position: absolute;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-bottom:30px;
  height:700px;
  margin-left:1%;
  margin-right:1%;
  width: 98%;

  text-align:center;
  overflow-y: scroll;
  overflow-x: scroll;
}

.tablevalues {
  border-collapse:collapse;
  width:auto;
  min-width: 100%;
  margin:25px auto;
  padding-top: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  overflow-x: scroll;
  padding-bottom: 30px;

}

.delete {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #CFDEE2; 
  border: none;
  border-radius: 30px;
  color: black;
  padding: 12px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  margin-left:10%;
}

.view_favorites {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #d9ea5a; 
  border: none;
  border-radius: 30px;
  padding: 4px 6px;
  margin-left:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  justify-content: center; 
}

.FavoriteSection {
  flex:1;
  flex-direction: row;
  font-size: small;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.favoriteRow {
  display: flex;
  flex:1;
  width:97%;
  flex-direction: row;
  border-bottom: #CC5643;
  text-align: left;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  border-radius: 10px;
  padding-bottom:5px;
  margin-bottom: 10px;
  background-color: #2fb1d5; 

}

.delete_fav {
  background-color: #2fb1d5; 
  border: none;

  border-radius: 30px;
  padding-left:35px;
  padding-top:10px; 
  display: inline-block;
  cursor: pointer;
  justify-content: center; 
}

.material-symbols { font-size: 50px; }


.favorite {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #CFDEE2; 
  border: none;
  border-radius: 30px;
  color: #899a06;
  padding: 12px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

.tablevalues thead tr {
  border-bottom: 2px solid #276ccd;
  width:auto;
  min-width: 600px;
}

.tablevalues thead tr th{
  font-size: 18px;
  letter-spacing: 1px;
  padding:30px;
  border-bottom: 2px solid #276ccd;
}

.tablevalues tbody tr{
  border-bottom: 2px solid #276ccd;
  padding:15px;
}

/* td,th {
  border: 3px solid #276ccd;
  padding:10px;
} */



nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.menu ul{
  display: inline-flex;
}

.menu ul li{
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child{
  margin-left: 0px;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu ul li a:hover{
  background: #fff;
  color: black;
}

.img{
  background: url('img3.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
} */
 .img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
} 

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
@media (max-width: 600px) {
  article, map {
    width: 100%;
    height: 100%;
  }
}
section::after {
  content: "";
  display: table;
  clear: both;
  background-color: #462824;
}

.dropbtn2 {
  background: none;
  background-color: #fff;
  border-color: white;
  cursor: pointer;
  color: inherit;
	border: none;
  /* height:40%; */
	cursor: pointer;
	outline: inherit;
}

.dropbtn {
  background: none;
  background-color: #fff;
  border-color: white;
  cursor: pointer;
  color: inherit;
	border: none;
	padding: 0;
  /* width:100%; */
	/* font: inherit; */
	cursor: pointer;
	outline: inherit;
}

.drop_area {  
  background-color: #fff;
  color: black;
  border-radius: 10px;
  padding: 10px 16px;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:30px;
  width:90%;
  height:10px;
  font-size: 16px;
  border-width:1px;
  /* cursor: pointer; */
  text-align: left;
  font-size:medium;
  z-index: 2;
  margin-top:13px;
}


.dropdown {
  /* background-color: #fff; */
  position: relative;
  display: inline-block;
  width:100%;
  height:20px;
  overflow-wrap:normal;
  /* overflow: hidden; */
  /* height:auto; */

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width:80%;
  height:100%;
  /* height:auto; */
  font-size: 12px;
  /* min-width: 230px; */
  overflow-wrap:normal;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /* padding: 8px 8px; */
  padding-left: 8px;
  background-color: #f6f6f6;
  width:100%;
  height:100%;
  overflow-wrap: normal;
  text-decoration: none;
  /* height:auto; */
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.show {display: block;}

/* For the menu showing either table or chart: */

.viewMenu button {
  cursor: pointer;
  width: 49%;
  height: 100%;
  color: #fff;
  background-color: #CC5643;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.viewMenu :hover{
  background: #fff;
  color: black;
}

.viewMenu .button_active {
  background: #A64637;
  pointer-events: none;
}


.content_inside {
  display: none;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.content_inside_active {
  display: block;
}

.viewMenu {
  background-color: #df7d6e;
  text-align: center;
  height: 3em;
}

.chartSection {
  text-align: center;
}


body {
  background-color: #df7d6e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 20px;
  padding: 20px;
  position: relative;
  width: 300px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  transform: translateY(-5px);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #264f5f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #264f5f transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

